*{
  transition: ease-in 300ms;
}

.inputFields{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 5px;
    max-width: 500px;
}


.dateFields{
    display: grid;
    grid-template-rows: 25px 50px 25px;
    row-gap: -10px;
    
}

.inputs{
    width: 80%;
    font-size: 32px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 7px;
}

label{
    height: 20px;
    margin: 0;
    padding: 0;
    color:  hsl(0, 1%, 44%);
    font-weight: 700;
}

.errorMsg{
    margin: 0;
    font-size: 12px;
}


.buttonField{
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 1px solid gray;
}

.iconArrow{
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    padding: 10px;
    width: 40px;

    position:relative;
    top: 30px;
    
}
.iconArrow:hover{
    background-color: #000;
    cursor: pointer;
}

/* Styles for errors */
.errorMsgTrue{
    color: hsl(0, 100%, 67%);  
}
.inputErrorTrue{
    color: #000;
    border-color: hsl(0, 100%, 67%);
}

.outputValue{
    font-size: 64px;
    margin: 0px;
    font-weight: 700;
}

.outputNumber{
    color: hsl(259, 100%, 65%);
}

@media only screen and (max-width: 500px) {
    .inputs{
      padding: 10px;
      font-size: 28px;
    }
    .inputFields{
        width: 100%;
    }
    .outputValue{
        font-size: 54px;
    }
    .buttonField{
        
        justify-content: center;
    }
    .iconArrow{
        margin: 0px auto 10px auto;
    }
  }